In [ ]:
import pandas
import pandas as pd
from Bio import Phylo

In [16]:
df = pd.read_csv("merged_final.csv")
df = df.iloc[:, 1:]
df = df.sort_values('Cultivar ID')
df

,Cultivar ID,Cultivar Name,Subpopulation,Plant Height (cm),vg0130976864,vg0135617816,vg0138428840,vg0405463422,vg0713178880,vg0819793460,vg1019044175,vg1123563633,vg1207667840,Sequence
379,C001,Sadu-cho,Indica I,144.13,G,C,T,T,T,T,C,C,C,GCTTTTCCC
124,C002,Dom_Sufid,VI/Aromatic,177.62,G,C,C,T,T,T,C,C,C,GCCTTTCCC
150,C003,Gerdeh,Japonica Intermediate,141.57,G,C,T,G,T,A,C,T,T,GCTGTACTT
269,C004,Li-Jiang-Xin-Tuan-Hei-Gu_,Temperate Japonica,140.40,G,C,T,G,A,A,C,T,C,GCTGAACTC
46,C005,AZUCENA,Tropical Japonica,163.33,G,C,T,T,A,A,T,T,C,GCTTAATTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,W326,Haolvguangnian,Japonica Intermediate,155.40,G,C,T,G,T,A,C,T,C,GCTGTACTC
230,W327,JinghuB,Temperate Japonica,89.80,A,C,T,G,T,A,C,T,C,ACTGTACTC
403,W328,Sibeitichao6,Intermediate,117.40,A,C,T,G,T,A,C,T,T,ACTGTACTT
156,W329,GPNO_5055,Tropical Japonica,147.40,G,C,T,G,T,A,T,T,C,GCTGTATTC
41,W330,ASWINA_330,Aus,149.60,G,C,C,T,T,T,C,C,C,GCCTTTCCC

In [17]:
len(df['Sequence'].unique())

75

In [18]:
df2 = pd.read_csv("mapping.csv")

In [20]:
for x, y in zip(df['Sequence'].unique(),df2['sequence'].unique()):
    print(x, y, str(x)==str(y))

GCTTTTCCC GCTTTCCC False
GCCTTTCCC GCCTTCCC False
GCTGTACTT GCTTACTT False
GCTGAACTC GCTAACTC False
GCTTAATTC GCTAATTC False
GCTTTATTT GCTTATTT False
GCTGTATTC GCTTATTC False
GCTGTATTT ACTAACTT False
ACTGAACTT GCCTTCTC False
GCCTTTCTC ACTTATTT False
ACTGTATTT GCTTACCT False
GCTGTACCT ACTTACTT False
ACTGTACTT GCTTATCT False
GCTTTATCT ACTTATCT False
ACTTTATCT GCTTTTCT False
GCTTTTTCT GCCTTTTT False
GCTGTATCT ACTTACTC False
GCTTTATTC GCCTATTT False
GCCTTTTTT GCTTATCC False
ACTGTACTC ACTAACCC False
GCCTTATTT GCTTTTTC False
GCTTTATCC GCTTACTC False
ACTGAACCC GCTAACTT False
GCTGTTTTC GCTTTTTT False
GCTGTACTC GCCTTTTC False
GCTGAACTT GCCTATCC False
GCTTTTTTT GCTAATCT False
GCCTTTTTC GCTTACCC False
GCCTTATCC GCCTACTC False
GCTTTTTTC GTTTATTC False
GCTGAATCT GCTAACCC False
GCTGTACCC GCCTATTC False
GCCTTACTC ACTAACCT False
GCTTAACTT GCTTTTCC False
GTTGTATTC GCTTTCTC False
GCCGTTTTC GCTAATTT False
GCTGAACCC GCCTTTCC False
GCCGTATTT ACTAACTC False
GCCTTATTC GCCTTCCT False
ACTGAACCT GTCTTCTC False
GCTTTACTT GCCTACTT False
GCCGTATTC GCCTACCT False
GCTTTTTCC GCCTTTCT False
GCTTAACCC GCCTACCC False
GCTTTTCTC GCCTTCTT False
GCTGAATTT GCTTTCTT False
GCCTTTTCC ACTAATTT False
ACTGAACTC ACTTTCTT False
GCTGAATTC ACCATCTT False
GCCGTTCCT ACTTTTTT False
GCCGTTTCC GCCTATCT False
GCCGTTTTT GTCTTTTC False