In [1]:
import pandas as pd

In [2]:
mapping = pd.read_csv("mapping_24.csv")
mapping

,Cultivar ID,vg0112116426,vg0128525986,vg0130976864,vg0131664768,vg0133440209,vg0135617816,vg0135642980,vg0138418739,vg0138428840,...,vg0719834473,vg0819793460,vg0904094998,vg0904282939,vg1019044175,vg1123563633,vg1207667840,Subpopulation,Plant Height (cm),sequence
0,C001,G,G,G,A,G,C,C,A,T,...,T,T,C,C,C,C,C,Indica,144.13,GGGAGCCATCGTAATGTTTCCCCC
1,C002,G,G,G,G,G,C,C,A,C,...,C,T,C,C,C,C,C,VI/Aromatic,177.62,GGGGGCCACCGTAATGCCTCCCCC
2,C003,G,A,G,A,G,C,C,A,T,...,C,A,A,C,C,T,T,Japonica,141.57,GAGAGCCATAGGAGTGCCAACCTT
3,C004,G,A,G,G,G,C,C,A,T,...,T,A,C,T,C,T,C,Japonica,140.40,GAGGGCCATAGGAGAACTACTCTC
4,C005,A,G,G,G,G,C,C,A,T,...,C,A,A,C,T,T,C,Japonica,163.33,AGGGGCCATAGTAAAGCCAACTTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,W326,G,A,G,A,G,C,C,A,T,...,C,A,A,C,C,T,C,Japonica,155.40,GAGAGCCATAGGTGTACCAACCTC
524,W327,G,A,A,A,G,C,C,A,T,...,T,A,A,C,C,T,C,Japonica,89.80,GAAAGCCATAGGTGTGTTAACCTC
525,W328,G,A,A,A,G,C,C,A,T,...,C,A,C,C,C,T,T,Intermediate,117.40,GAAAGCCATAGGTATACCACCCTT
526,W329,A,G,G,G,G,C,C,A,T,...,C,A,A,C,T,T,C,Japonica,147.40,AGGGGCCATAGGTATGCCAACTTC
527,W330,G,G,G,G,G,C,C,A,C,...,C,T,C,C,C,C,C,Aus,149.60,GGGGGCCACCGTAATGTCTCCCCC

In [3]:
df = mapping.iloc[:, [0,27,26,25]]
df

    Cultivar ID                  sequence  Plant Height (cm) Subpopulation
0          C001  GGGAGCCATCGTAATGTTTCCCCC             144.13        Indica
1          C002  GGGGGCCACCGTAATGCCTCCCCC             177.62   VI/Aromatic
2          C003  GAGAGCCATAGGAGTGCCAACCTT             141.57      Japonica
3          C004  GAGGGCCATAGGAGAACTACTCTC             140.40      Japonica
4          C005  AGGGGCCATAGTAAAGCCAACTTC             163.33      Japonica
..          ...                       ...                ...           ...
523        W326  GAGAGCCATAGGTGTACCAACCTC             155.40      Japonica
524        W327  GAAAGCCATAGGTGTGTTAACCTC              89.80      Japonica
525        W328  GAAAGCCATAGGTATACCACCCTT             117.40  Intermediate
526        W329  AGGGGCCATAGGTATGCCAACTTC             147.40      Japonica
527        W330  GGGGGCCACCGTAATGTCTCCCCC             149.60           Aus

[528 rows x 4 columns]

In [4]:
import random

def replace_characters(string):
    # Maximum number of characters to replace (between 0 and 16)
    max_replacements = random.randint(0, 16)

    # Convert the string into a list of characters
    char_list = list(string)

    # Get the indices of characters to replace
    indices = random.sample(range(len(char_list)), max_replacements)

    # Replace the characters with 'N'
    for index in indices:
        char_list[index] = 'N'

    # Join the characters back into a string
    replaced_string = ''.join(char_list)

    return replaced_string


def add_or_subtract_value(value):
    # Calculate the range of 2% of the value
    range_2_percent = 0.02 * value

    # Generate a random value within the range
    random_value = random.uniform(-range_2_percent, range_2_percent)

    # Add or subtract the random value from the input value
    result = value + random_value

    return result

def add_character_columns(df, column_name):
    # Iterate over the characters and add new columns
    for i in range(24):
        new_column_name = f'Character_{i+1}'
        df[new_column_name] = df[column_name].str[i]

    return df

In [5]:
new_df = pd.DataFrame(columns=['sequence','height','subpopulation','reference'])

for index, data in df.iterrows():
    seq = data['sequence']
    ref = data['Cultivar ID']
    height = data['Plant Height (cm)']
    subPop = data['Subpopulation']
    new_df = pd.concat([new_df, pd.DataFrame([[seq, height, subPop, ref]], columns=new_df.columns)], ignore_index=True)
    for i in range(20):
        new_sequence = replace_characters(seq)
        new_height = add_or_subtract_value(height)
        l=[new_sequence, new_height, subPop, ref]
        new_df = pd.concat([new_df, pd.DataFrame([l], columns=new_df.columns)], ignore_index=True)


add_character_columns(new_df, 'sequence')


new_df

,sequence,height,subpopulation,reference,Character_1,Character_2,Character_3,Character_4,Character_5,Character_6,...,Character_15,Character_16,Character_17,Character_18,Character_19,Character_20,Character_21,Character_22,Character_23,Character_24
0,GGGAGCCATCGTAATGTTTCCCCC,144.130000,Indica,C001,G,G,G,A,G,C,...,T,G,T,T,T,C,C,C,C,C
1,GGGAGNNNNNGNNATGTTNNCCNN,144.913524,Indica,C001,G,G,G,A,G,N,...,T,G,T,T,N,N,C,C,N,N
2,GNGNGCNATCGTNATNTTNCCCNN,142.877425,Indica,C001,G,N,G,N,G,C,...,T,N,T,T,N,C,C,C,N,N
3,GGGAGCCNNCGTAANNTNTCCNCC,146.708178,Indica,C001,G,G,G,A,G,C,...,N,N,T,N,T,C,C,N,C,C
4,GGGAGCCATCGTAATGTTTCCCCC,143.726220,Indica,C001,G,G,G,A,G,C,...,T,G,T,T,T,C,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11083,NGNNNNNNNCNNAATNTNNNCCCN,148.938147,Aus,W330,N,G,N,N,N,N,...,T,N,T,N,N,N,C,C,C,N
11084,NNNNNCNACCGNNATGTNTCCCCC,151.300226,Aus,W330,N,N,N,N,N,C,...,T,G,T,N,T,C,C,C,C,C
11085,NNNGNNNNCCNNANTNNCTNNNNC,149.778012,Aus,W330,N,N,N,G,N,N,...,T,N,N,C,T,N,N,N,N,C
11086,GNNNGCCACCNNANTNNCTNCCCC,149.930487,Aus,W330,G,N,N,N,G,C,...,T,N,N,C,T,N,C,C,C,C
11087,NNGGNNCACCGTNANGNNNNNNNC,147.204749,Aus,W330,N,N,G,G,N,N,...,N,G,N,N,N,N,N,N,N,C

In [66]:
new_df.to_csv("synthesised.csv", index=False)

In [6]:
new_df['subpopulation'].unique()

array(['Indica', 'VI/Aromatic', 'Japonica', 'Aus', 'Intermediate'],
      dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
new_df['subpopulation'] = encoder.fit_transform(new_df['subpopulation'])
new_df

,sequence,height,subpopulation,reference,Character_1,Character_2,Character_3,Character_4,Character_5,Character_6,...,Character_15,Character_16,Character_17,Character_18,Character_19,Character_20,Character_21,Character_22,Character_23,Character_24
0,GGGAGCCATCGTAATGTTTCCCCC,144.130000,1,C001,G,G,G,A,G,C,...,T,G,T,T,T,C,C,C,C,C
1,GGGAGNNNNNGNNATGTTNNCCNN,144.913524,1,C001,G,G,G,A,G,N,...,T,G,T,T,N,N,C,C,N,N
2,GNGNGCNATCGTNATNTTNCCCNN,142.877425,1,C001,G,N,G,N,G,C,...,T,N,T,T,N,C,C,C,N,N
3,GGGAGCCNNCGTAANNTNTCCNCC,146.708178,1,C001,G,G,G,A,G,C,...,N,N,T,N,T,C,C,N,C,C
4,GGGAGCCATCGTAATGTTTCCCCC,143.726220,1,C001,G,G,G,A,G,C,...,T,G,T,T,T,C,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11083,NGNNNNNNNCNNAATNTNNNCCCN,148.938147,0,W330,N,G,N,N,N,N,...,T,N,T,N,N,N,C,C,C,N
11084,NNNNNCNACCGNNATGTNTCCCCC,151.300226,0,W330,N,N,N,N,N,C,...,T,G,T,N,T,C,C,C,C,C
11085,NNNGNNNNCCNNANTNNCTNNNNC,149.778012,0,W330,N,N,N,G,N,N,...,T,N,N,C,T,N,N,N,N,C
11086,GNNNGCCACCNNANTNNCTNCCCC,149.930487,0,W330,G,N,N,N,G,C,...,T,N,N,C,T,N,C,C,C,C
11087,NNGGNNCACCGTNANGNNNNNNNC,147.204749,0,W330,N,N,G,G,N,N,...,N,G,N,N,N,N,N,N,N,C

In [8]:
encoder.classes_

array(['Aus', 'Indica', 'Intermediate', 'Japonica', 'VI/Aromatic'],
      dtype=object)

In [69]:
x_df = new_df.iloc[:, 4:]

valid_values = ['A', 'T', 'C', 'G']

# Perform one-hot encoding for each column
ohe_columns = pd.DataFrame()
for column in x_df.columns:
    ohe = pd.get_dummies(x_df[column])
    missing_values = list(set(valid_values) - set(ohe.columns))
    for missing_value in missing_values:
        ohe[missing_value] = 0
    ohe = ohe.reindex(columns=valid_values, fill_value=0)
    ohe = ohe.add_prefix(column + '_')
    ohe_columns = pd.concat([ohe_columns, ohe], axis=1)

ohe_columns = ohe_columns.astype(int)
ohe_columns

,Character_1_A,Character_1_T,Character_1_C,Character_1_G,Character_2_A,Character_2_T,Character_2_C,Character_2_G,Character_3_A,Character_3_T,...,Character_22_C,Character_22_G,Character_23_A,Character_23_T,Character_23_C,Character_23_G,Character_24_A,Character_24_T,Character_24_C,Character_24_G
0,0,0,0,1,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,1,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
3,0,0,0,1,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
4,0,0,0,1,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11083,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11084,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
11085,0,0,0,1,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
11086,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
11087,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0

In [70]:
next_df = new_df.iloc[:, [2, 1]]
next_df

       subpopulation      height
0                  1  144.130000
1                  1  145.510167
2                  1  144.273233
3                  1  146.197064
4                  1  144.162115
...              ...         ...
11083              0  152.555780
11084              0  148.020471
11085              0  147.105034
11086              0  151.982479
11087              0  149.705067

[11088 rows x 2 columns]

In [71]:
final_df = pd.concat([ohe_columns, next_df], axis=1)
final_df

,Character_1_A,Character_1_T,Character_1_C,Character_1_G,Character_2_A,Character_2_T,Character_2_C,Character_2_G,Character_3_A,Character_3_T,...,Character_23_A,Character_23_T,Character_23_C,Character_23_G,Character_24_A,Character_24_T,Character_24_C,Character_24_G,subpopulation,height
0,0,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,1,144.130000
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,145.510167
2,0,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,1,144.273233
3,0,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,1,146.197064
4,0,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,144.162115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11083,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,152.555780
11084,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,148.020471
11085,0,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,147.105034
11086,0,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,151.982479
11087,0,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,149.705067

In [74]:
final_df.to_csv("ohe/encoded.csv", index=False)